{% extends "base.jinja2" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">I hope you enjoy browsing through the photos.</p>
        <hr class="my-4">
        <p>Where photos come to life!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ request.route_url('about') }}"
               role="button">About {{ request.site.photographer }}</a>
        </p>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos. This is a
                    description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos. This is a
                    description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos. This is a
                    description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22355%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20355%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160f72638c1%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160f72638c1%22%3E%3Crect%20width%3D%22355%22%20height%3D%22280%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.8671875%22%20y%3D%22148.0765625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-camera-retro"></i> Photograph Title</h5>
                <p class="card-text">This is a description about the photography. Enjoy the photos. This is a
                    description about the photography. Enjoy the photos.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
{% endblock content %}
