{% extends "admin.jinja2" %}

{% block admin_content %}
    <div class="row">
        <div class="col-sm-10">
            <h1>Roles</h1>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">
                <i class="fas fa-user"></i> New Role
            </button>
        </div>
    </div>
    <br/>
    {% for group_row in groups | batch(2, None) %}
        <div class="card-deck">
            {% for group in group_row %}
                <div class="card">
                    <div class="card-header">
                        <h5>{{ group.role.title }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Members:</strong></p>
                                <ul>
                                    {% for user in group.users %}
                                        <li>
                                            {{ user }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <p><strong>Roles Included In:</strong></p>
                                <ul>
                                    {% for member_role in group.member_roles %}
                                        <li>
                                            {{ member_role }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br/>
    {% endfor %}
    <hr/>
    <div class="mb-4">
        <span class="mr-3"><strong>Key:</strong></span>
        <span class="mr-3"><i class="fas fa-pencil-alt"></i> Edit</span>
        <span class="mr-3"><i class="fas fa-trash"></i> Trash</span>
    </div>
{% endblock admin_content %}
