{% extends "admin.jinja2" %}

{% block admin_content %}
    <div class="row">
        <div class="col-sm-10">
            <h1>Users</h1>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary">
                <i class="fas fa-user"></i> New User
            </button>
        </div>
    </div>
    <br/>
    {% for profile_row in profiles | batch(2, None) %}
        <div class="card-deck">
            {% for profile in profile_row %}
                <div class="card">
                    <div class="card-header">
                        <h5>{{ profile['data'].full_name }}</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm">
                            <tbody>
                                <tr class="text-muted">
                                    <td>
                                        <i class="fas fa-user"></i>
                                    </td>
                                    <td>
                                        Username:
                                    </td>
                                    <td>
                                        {{ profile['data'].username }}
                                    </td>
                                </tr>
                                <tr class="text-muted">
                                    <td>
                                        <i class="fas fa-envelope"></i>
                                    </td>
                                    <td>
                                        Email:
                                    </td>
                                    <td>
                                        <a href="mailto:{{ profile['data'].email }}">{{ profile['data'].email }}</a>
                                    </td>
                                </tr>
                                <tr class="text-muted">
                                    <td>
                                        <i class="fas fa-users"></i>
                                    </td>
                                    <td>
                                        Member Of:
                                    </td>
                                    <td>
                                        {% for role in profile['roles'] %}
                                        {{ role }}<br />
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-unlock"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm">
                            <i class="fas fa-key"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br/>
    {% endfor %}
    <hr/>
    <strong>Key:</strong>&nbsp;&nbsp;
    <i class="fas fa-pencil-alt"></i> Edit&nbsp;&nbsp;
    <i class="fas fa-lock"></i> Activate&nbsp;&nbsp;
    <i class="fas fa-unlock"></i> Deactivate&nbsp;&nbsp;
    <i class="fas fa-key"></i> Change Password&nbsp;&nbsp;
{% endblock admin_content %}
