{% extends "base.jinja2" %}

{% block content %}
    <h1 class="p-2">Frequently Asked Questions</h1>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-uppercase active" id="nav-purchase-tab" data-toggle="tab"
               href="#nav-purchase" role="tab" aria-controls="nav-purchase" aria-selected="true">Purchase</a>
            <a class="nav-item nav-link text-uppercase" id="nav-location-tab" data-toggle="tab" href="#nav-location"
               role="tab" aria-controls="nav-location" aria-selected="false">Locations</a>
            <a class="nav-item nav-link text-uppercase" id="nav-what-to-wear-tab" data-toggle="tab"
               href="#nav-what-to-wear" role="tab" aria-controls="nav-what-to-wear" aria-selected="false">What To
                Wear</a>
            <a class="nav-item nav-link text-uppercase" id="nav-posing-tips-tab" data-toggle="tab"
               href="#nav-posing-tips" role="tab" aria-controls="nav-posing-tips" aria-selected="false">Posing
                Tips</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-purchase" role="tabpanel" aria-labelledby="nav-purchase-tab">
            <!-- Accordion -->
            <div id="accordionPurchase" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingPurchaseOne">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePurchaseOne"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePurchaseOne">
                            Purchase Group Item #1
                        </a>
                    </div>

                    <div id="collapsePurchaseOne" class="collapse" role="tabpanel"
                         aria-labelledby="headingPurchaseOne"
                         data-parent="#accordionPurchase">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPurchaseTwo">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePurchaseTwo"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePurchaseTwo">
                            Purchase Group Item #2
                        </a>
                    </div>
                    <div id="collapsePurchaseTwo" class="collapse" role="tabpanel"
                         aria-labelledby="headingPurchaseTwo"
                         data-parent="#accordionPurchase">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPurchaseThree">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePurchaseThree"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePurchaseThree">
                            Purchase Group Item #3
                        </a>
                    </div>
                    <div id="collapsePurchaseThree" class="collapse" role="tabpanel"
                         aria-labelledby="headingPurchaseThree"
                         data-parent="#accordionPurchase">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPurchaseFour">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePurchaseFour"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePurchaseFour">
                            Purchase Group Item #4
                        </a>
                    </div>
                    <div id="collapsePurchaseFour" class="collapse" role="tabpanel"
                         aria-labelledby="headingPurchaseFour"
                         data-parent="#accordionPurchase">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPurchaseFive">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePurchaseFive"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePurchaseFive">
                            Purchase Group Item #5
                        </a>
                    </div>
                    <div id="collapsePurchaseFive" class="collapse" role="tabpanel"
                         aria-labelledby="headingPurchaseFive"
                         data-parent="#accordionPurchase">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>
        <div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
            <!-- Accordion -->
            <div id="accordionLocation" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingLocationOne">
                        <a class="collapsed" data-toggle="collapse" href="#collapseLocationOne"
                           role="button"
                           aria-expanded="false" aria-controls="collapseLocationOne">
                            Locations Group Item #1
                        </a>
                    </div>

                    <div id="collapseLocationOne" class="collapse" role="tabpanel"
                         aria-labelledby="headingLocationOne"
                         data-parent="#accordionLocation">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingLocationTwo">
                        <a class="collapsed" data-toggle="collapse" href="#collapseLocationTwo"
                           role="button"
                           aria-expanded="false" aria-controls="collapseLocationTwo">
                            Locations Group Item #2
                        </a>
                    </div>
                    <div id="collapseLocationTwo" class="collapse" role="tabpanel"
                         aria-labelledby="headingLocationTwo"
                         data-parent="#accordionLocation">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingLocationThree">
                        <a class="collapsed" data-toggle="collapse" href="#collapseLocationThree"
                           role="button"
                           aria-expanded="false" aria-controls="collapseLocationThree">
                            Locations Group Item #3
                        </a>
                    </div>
                    <div id="collapseLocationThree" class="collapse" role="tabpanel"
                         aria-labelledby="headingLocationThree"
                         data-parent="#accordionLocation">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingLocationFour">
                        <a class="collapsed" data-toggle="collapse" href="#collapseLocationFour"
                           role="button"
                           aria-expanded="false" aria-controls="collapseLocationFour">
                            Locations Group Item #4
                        </a>
                    </div>
                    <div id="collapseLocationFour" class="collapse" role="tabpanel"
                         aria-labelledby="headingLocationFour"
                         data-parent="#accordionLocation">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingLocationFive">
                        <a class="collapsed" data-toggle="collapse" href="#collapseLocationFive"
                           role="button"
                           aria-expanded="false" aria-controls="collapseLocationFive">
                            Locations Group Item #5
                        </a>
                    </div>
                    <div id="collapseLocationFive" class="collapse" role="tabpanel"
                         aria-labelledby="headingLocationFive"
                         data-parent="#accordionLocation">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>
        <div class="tab-pane fade" id="nav-what-to-wear" role="tabpanel" aria-labelledby="nav-what-to-wear-tab">
            <!-- Accordion -->
            <div id="accordionWhatToWear" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingWhatToWearOne">
                        <a class="collapsed" data-toggle="collapse" href="#collapseWhatToWearOne"
                           role="button"
                           aria-expanded="false" aria-controls="collapseWhatToWearOne">
                            What To Wear Group Item #1
                        </a>
                    </div>

                    <div id="collapseWhatToWearOne" class="collapse" role="tabpanel"
                         aria-labelledby="headingWhatToWearOne"
                         data-parent="#accordionWhatToWear">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingWhatToWearTwo">
                        <a class="collapsed" data-toggle="collapse" href="#collapseWhatToWearTwo"
                           role="button"
                           aria-expanded="false" aria-controls="collapseWhatToWearTwo">
                            What To Wear Group Item #2
                        </a>
                    </div>
                    <div id="collapseWhatToWearTwo" class="collapse" role="tabpanel"
                         aria-labelledby="headingWhatToWearTwo"
                         data-parent="#accordionWhatToWear">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingWhatToWearThree">
                        <a class="collapsed" data-toggle="collapse" href="#collapseWhatToWearThree"
                           role="button"
                           aria-expanded="false" aria-controls="collapseWhatToWearThree">
                            What To Wear Group Item #3
                        </a>
                    </div>
                    <div id="collapseWhatToWearThree" class="collapse" role="tabpanel"
                         aria-labelledby="headingWhatToWearThree"
                         data-parent="#accordionWhatToWear">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingWhatToWearFour">
                        <a class="collapsed" data-toggle="collapse" href="#collapseWhatToWearFour"
                           role="button"
                           aria-expanded="false" aria-controls="collapseWhatToWearFour">
                            What To Wear Group Item #4
                        </a>
                    </div>
                    <div id="collapseWhatToWearFour" class="collapse" role="tabpanel"
                         aria-labelledby="headingWhatToWearFour"
                         data-parent="#accordionWhatToWear">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingWhatToWearFive">
                        <a class="collapsed" data-toggle="collapse" href="#collapseWhatToWearFive"
                           role="button"
                           aria-expanded="false" aria-controls="collapseWhatToWearFive">
                            What To Wear Group Item #5
                        </a>
                    </div>
                    <div id="collapseWhatToWearFive" class="collapse" role="tabpanel"
                         aria-labelledby="headingWhatToWearFive"
                         data-parent="#accordionWhatToWear">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>
        <div class="tab-pane fade" id="nav-posing-tips" role="tabpanel" aria-labelledby="nav-posing-tips-tab">
            <!-- Accordion -->
            <div id="posing_tips">
                <div class="card">
                    <div class="card-header" role="tab" id="headingPosingTipsOne">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePosingTipsOne"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePosingTipsOne">
                            Posing Tips Group Item #1
                        </a>
                    </div>

                    <div id="collapsePosingTipsOne" class="collapse" role="tabpanel"
                         aria-labelledby="headingPosingTipsOne"
                         data-parent="#accordionPosingTips">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPosingTipsTwo">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePosingTipsTwo"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePosingTipsTwo">
                            Posing Tips Group Item #2
                        </a>
                    </div>
                    <div id="collapsePosingTipsTwo" class="collapse" role="tabpanel"
                         aria-labelledby="headingPosingTipsTwo"
                         data-parent="#accordionPosingTips">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPosingTipsThree">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePosingTipsThree"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePosingTipsThree">
                            Posing Tips Group Item #3
                        </a>
                    </div>
                    <div id="collapsePosingTipsThree" class="collapse" role="tabpanel"
                         aria-labelledby="headingPosingTipsThree"
                         data-parent="#accordionPosingTips">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPosingTipsFour">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePosingTipsFour"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePosingTipsFour">
                            Posing Tips Group Item #4
                        </a>
                    </div>
                    <div id="collapsePosingTipsFour" class="collapse" role="tabpanel"
                         aria-labelledby="headingPosingTipsFour"
                         data-parent="#accordionPosingTips">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingPosingTipsFive">
                        <a class="collapsed" data-toggle="collapse" href="#collapsePosingTipsFive"
                           role="button"
                           aria-expanded="false" aria-controls="collapsePosingTipsFive">
                            Posing Tips Group Item #5
                        </a>
                    </div>
                    <div id="collapsePosingTipsFive" class="collapse" role="tabpanel"
                         aria-labelledby="headingPosingTipsFive"
                         data-parent="#accordionPosingTips">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a
                            bird
                            on it
                            squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                            keffiyeh
                            helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                            vegan
                            excepteur
                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth
                            nesciunt you probably haven't heard of them accusamus labore sustainable
                            VHS.
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
        </div>
    </div>
{% endblock content %}
